body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f7fa;
}
aside {
  background-color: #1e2939;
  border-radius: 10px;
  width: 495px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}

.container--text{
    width: 700px;
}
img{
  display: block;
  width: 270px;
  height: 310px;
  border-radius: 50%;
  margin-left: 25px;
  margin-top: 10px;
}


.myData {
  margin: 30px 0 0 40px;
}
.myData:last-child{
  margin-bottom: 30px;
}
.myData--title {
  color: rgb(248, 248, 248);
  /* margin: 0 0 10px 20px; */
}
.list--item{
  color: rgb(248, 248, 248);
}
ul > .list--item + .list--item{
  margin-top: 3px;
}
.list--link {
  color: #fff;
  transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.list--link:hover {
  color: #fb6d3a;
}
/* .education--title{
  margin-left: 30px;
} */
.education--item + .education--item{
  margin-top: 30px;
}
.item--title {
  
  margin-top: 5px;
  margin-bottom: 5px;
}


.container {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background-color: #fff;
}

.container--title{
  font-size: 14px;
  font-weight: 700;
  color: #000;
  margin-top: 90px;
}

.container--mainContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 90px;
}

/* .project--title {
  margin-left: 30px;
} */

/* .container--titleName {
  margin-left: 30px;
} */

.project--list {
  margin-right: 50px;
}

.project--linkCode{
  color: #000;
}
.project--linkCode:hover{
  color: #fb6d3a;
  transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project--linkName{
  color:#2196F3;
  
}

.project--linkName:hover{
  color:#040608;
  transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project--text{
  margin-left: 10px;
}
.item--text{
  margin-top: 5px;
  margin-bottom: 0;
}
.education{
  margin-top: 50px;
}
.project--list li + li {
 margin-top: 10px;
}