body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f7fa;
}
aside {
  background-color: #1e2939;
  border-radius: 10px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
.p{
    width: 700px;
}



.myData {
  margin: 30px 0 0 40px;
}
.myData--title {
  color: rgb(248, 248, 248);
  margin: 0 0 10px 20px;
}
.list--item{
  color: rgb(248, 248, 248);
}
ul > .list--item + .list--item{
  margin-top: 3px;
}
.list--link {
  color: #fff;
  transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.list--link:hover {
  color: #fb6d3a;
}
.education--title{
  margin-left: 30px;
}
.education--item + .education--item{
  margin-top: 50px;
}
.item--title {
  color: #fb6d3a;
}

.t {
  font-size: 14px;
  font-weight: 700;
  color: #000;
  margin-top: 90px;
}
.boxinbox {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  background-color: #fff;
}
.osnovnoy-block {
  display: flex;
  flex-direction: column;
  width: 100%;
}







.roga {
  color: #fb6d3a;
}
.text2 {
  color: #fb6d3a;
}
.text3 {
  color: #fb6d3a;
}

.osnovnoy-block {
  margin-left: 90px;
}

.otstyp2 {
  margin-left: 30px;
}
.otstyp3 {
  margin-left: 30px;
}

.okrasit {
  color: #fb6d3a;
}
.okras2 {
  color: #a8a8a8;
}
.okras3 {
  color: #a8a8a8;
}
.okras4 {
  color: #a8a8a8;
}
.Education {
  margin-top: 40px;
}
.l2 {
  margin-right: 50px;
}


